:root{
    --cor1: #142434;
    --cor2: rgb(105, 211, 204);
    --textopri: #cdd0d4;
    --textosecun: #568b94;
    --textoter: #67737e;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*formatação e variáveis*/

/*CORPO TOTAL*/

.container{
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
}

/*HEADER*/

header{
    height:100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#top{
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 5px solid black;
}
#top > h2{
    align-self: center;
    color: var(--textopri)
}

/* header 2 */

#meio{
    background: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.6)), url("./img/pexels-domenico-bandiera-5098531_Easy-Resize.com.jpg");
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#busca{
    border-radius: 10px;
    height: 2rem;
    width: 400px;
    margin-bottom: 7px;
}
#mensagem1>h2{
    text-align: center;
}

/*corpo*/

main{
    max-width: 1280px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
#barriga{
    background-color: var(--cor1);
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

/* cartão*/

#cartao{
    width: 22rem;
    height: 25rem;
    background-color: white;
    border-radius: 10%;
}
#sub1{
    flex-grow: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    flex-direction: row;
    font-size: 2em;
    color: var(--textopri);
    color: var(--cor2);
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    flex-wrap: wrap;
}

/* cadastro */

#sub2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
#questionario{
    font-size: 1em;
    color: var(--textopri);
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#introduçao{
    font-size: 2em;
    text-align: center;
    color: var(--textosecun);
}
#chamado{
    font-style: italic;
}
form{
    background-color: var(--textoter);
    width: 200px;
    height: 210px;
    margin-bottom: 4em;
    border-radius: 10px;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*foote*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--cor1);
}
#tchau{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5%;
    font-size: 1.5em;
    color: var(--cor2);
    font-weight: 800;
    font-size: x-large;
}
#sociais{
    margin-top: 5%;
}

#tchau>p{
    font-size: x-large;
    margin-left: 40px;
}